<html>
  <head>
    <meta charset="utf-8">
    <title>Vue Semestre i</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">


  </head>
  	<body>
        <div id="lugardetrabajo" class="is-vcentered">
            <h2  class="title is-3">Álbumes:</h2>
            <div class="columns" >
            <div class="column" v-for="(album, i) in albums">

                <div class="card m-3 ">
                    
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                          <figure class="image is-128x128">
                            <img :src="album.Url" alt="Placeholder image">
                          </figure>
                        </div>
                        <div class="media-content">
                          <p class="title is-4"> {{ album.Titulo }}</p>
                          <p class="subtitle is-6">👤 {{ album.Artista }} <br> {{ album.Año }}</p>
                          
                        </div>
                      </div>
                  
                      <div class="content">
                        Such a good album!, 10/10 <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                       
                        
                      </div>
                    </div>
                  </div>
                
               
                
            </div>
            </div>
            <h2  class="title is-4">Añadir libro:</h2>
            <div class="inputsHere">
                <div class="inputs">
                    <span>Autor</span>
                    <input type="text" v-model="author"/>
                </div>
                <div class="inputs">
                    <span>Titulo</span>
                    <input type="text" v-model="title"/>
                </div>
                <div class="inputs">
                    <span>Cantidad</span>
                    <input  type="text" v-model="quantity"/>
                </div>
                <div class="inputs">
                    <span>Editorial</span>
                    <input type="text" v-model="editorial"/>
                </div>
            </div>
            <button v-on:click=addBook>
                Añadir dato
            </button>
            <br>
            <span>Ordenar por: </span>
            <button v-on:click=ordenarPorAutor>
                Autor
            </button>
            <button v-on:click=ordenarPorTitulo>
                Titulo
            </button>
            <button v-on:click=ordenarPorCantidad>
                Cantidad
            </button>
            <hr>
            
            <h5 class="subtitle is-5">Horario: </h5>
            <p>
                Domingo <input type="checkbox" v-model="week[0]"> 
                Lunes <input type="checkbox" v-model="week[1]"> 
                Martes <input type="checkbox" v-model="week[2]"> 
                Miércoles <input type="checkbox" v-model="week[3]"> 
                Jueves <input type="checkbox" v-model="week[4]"> 
                Viernes <input type="checkbox" v-model="week[5]"> 
                Sábado <input type="checkbox" v-model="week[6]">
            </p>
            <div class="scheduleMessage">
                <p>{{ message }}</p>
            </div>
           

            
            <hr>

            
                <h2  class="title is-3 ">Libros:</h2>
                <div class="columns" >

                    <div class="column m-4" v-for="(book, i) in ordenarLibros">

                        <article class="message is-info">
                            <div class="message-header">
                              <p>Book:  {{ book.titulo }}</p>
                              <button class="delete" aria-label="delete"  v-on:click="removeBook(i)"> </button>
                              
                            </div>
                            <div class="message-body">
                                Author: 
                             {{ book.autor }}
                             <br>
                                Editorial:
                             {{ book.editorial }} <br>
                             Quantity:
                             {{ book.quantity }}
                             <br>
                             <p v-if="book.oferta" >
                                🏷️ SALE 
                            </p>
                            <div>
                                <button class="edit"  v-on:click="editBook(i)" style="cursor:pointer">✏️</button>
                            </div>
                            </div>
                          </article>

                     </div>
                </div>
                
            
        </div>

        <div id="espacio">
           
        </div>
        


		  <script type="text/javascript">

          //Una instancia de Vue que manejará esa área del documento #lugardetrabajo
          c= new Vue({
            el: "#lugardetrabajo",
            created(){
                fetch("http://localhost:8080/getAlbums").
                then(response => response.json())
                .then(data => this.albums = data);
                
                fetch("http://localhost:8080/getBooks").
                then(response => response.json())
                .then(data => this.libros = data);

            },
            data :{
              nombre: "La elegante vagancia",
              libros:[{
                autor:"Ray Bradbury",
                titulo:"Fahrenheit 451",
                oferta: false,
                quantity: 3,
                editorial: "SM"
              },
              {
                autor:"Arthur C. Clarke",
                titulo:"El fin de la infancia",
                oferta: true,
                quantity: 1,
                editorial: "SM"
              },
              {
                titulo: "Does androids dream of electric sheeps?", 
                autor: "Philip K Dick",
                oferta: false,
                quantity: 10,
                editorial: "SM"
            }],
            editorial:"",
            title: "",
            author:"",
            quantity:"",
            orderBy:"autor",
            week: [false,false,false,false,false,false,false],
            message: "Abrimos todos los dias",
            albums: []
            
            },
            methods: {
                search:function() {
                    console.log("search")
                },
                addBook:function(){
                    if(this.author!="" && this.title!="" && this.editorial!="" && !(isNaN(this.quantity)) ){
                        this.libros.push({
                        autor: this.author,
                        titulo: this.title,
                        oferta: false,
                        editorial: this.editorial,
                        quantity: this.quantity,
                    })
                        this.quantity = "";
                        this.author = "";
                        this.title = "";
                        this.editorial = "";
                    }else{
                        window.alert("Ups, check your inputs bro")
                    }
                    
                },
                removeBook:function(i){
                    console.log("test "+i)
                    this.libros.splice(i,1)
                },
                editBook:function(i){
                    console.log()
                    if(this.author!=""){
                        this.libros[i].autor = this.author;
                        this.author = "";
                        this.libros = _.orderBy(this.libros, [this.orderBy]);
                    }
                    if(this.title!=""){
                        this.libros[i].titulo = this.title;
                        this.title = "";
                    }
                    if(this.editorial!=""){
                        this.libros[i].editorial = this.editorial;
                        this.editorial = "";
                    }

                    
                    if( !(isNaN(this.quantity) )  && this.quantity!=""){
                        this.libros[i].quantity = this.quantity;
                        this.quantity = "";
                        
                    }
                   
                },
                ordenarPorAutor:function(){
                    this.orderBy="autor"
                },
                ordenarPorTitulo:function(){
                    this.orderBy="titulo"
                },ordenarPorCantidad:function(){
                    this.orderBy="quantity"
                }
                
            },computed: {
                        ordenarLibros:function(){
                            console.log("computed");
                            this.libros = _.orderBy(this.libros, [this.orderBy]);
                        return _.orderBy(this.libros, [this.orderBy])
                    }
            }, watch: {
                week:function(d){
                    const dias = [
                    'domingo',
                    'lunes',
                    'martes',
                    'miércoles',
                    'jueves',
                    'viernes',
                    'sábado',
                    'domingo',
                    ];
                    
                    let tomorrow = ((new Date()).getDay()) + 1;
                    tomorrow = tomorrow % 7;
                    
                    if(this.week[tomorrow]){
                        this.message="Mañana "+dias[tomorrow]+" la libreria estará cerrada. "
                    }else{
                        this.message=""
                    }
                    this.message+="Cerramos los siquiente dias: " 
                        for(day in this.week){
                            if(this.week[day]){
                                this.message+=dias[day]+", "
                                
                            }
                        }
                    
                    
                }

            }
            
            
          });

		  </script>
	</body>
</html>